#!/usr/bin/env ruby

require 'set'

unless defined? LOADED_DEFAULT_CONFIG
  LOADED_DEFAULT_CONFIG = true
  require 'compass'
  Compass.add_project_configuration 'config.rb'
end

preprocess do
  tags = Set.new
  @items.select { |item| item.key?(:tags) }.each do |item|
    item[:tags].each { |t| tags.add(t.downcase) }
  end

  tags.each do |tag|
    @items.create("", { :tag => tag }, "/tags/#{tag}")
  end
end

compile '/tags/*' do
  layout '/tags.*'
end

compile '/articles/**/*.md' do
  layout(item[:layout] ? "/#{item[:layout]}.*" : '/article.*')
end

route '/**/*' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*.html' do
  filter :erb
  layout(item[:layout] ? "/#{item[:layout]}.*" : '/default.*')
end

compile '/assets/**/*' do
  ext = @item.identifier.ext

  if ext == 'scss'
    filter :sass, Compass.sass_engine_options
    write @item.identifier.without_ext + '.css'
  else
    write item.identifier.to_s
  end

end

layout '/**/*', :erb
