@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic";

body {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  box-shadow: 0 0 2px #1d1d1d;
}

.marquee {
  background-color: #AA2513;
  text-align: center;
  background-image: url(/assets/images/bg.png);
  padding: 28px 0;
  margin: 0 0 28px 0;
  box-shadow: 0 0 2px #1d1d1d;

  .logo {
    height: 400px;
    width: 400px;
  }
}
