@import "https://fonts.googleapis.com/css?family=Lato:400,700";

// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

body {
  background-color: #ffffff;
  color: #495057;
}

.navbar {
  margin-bottom: 1rem;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 0.5px solid #ced4da;
}

.marquee {
  background-color: #AA2513;
  text-align: center;
  background-image: url(/assets/images/bg.png);
  padding: 28px 0 0 0;
  margin: 0 0 28px 0;
  box-shadow: 0 0 2px #1d1d1d;

  .logo {
    height: 400px;
    width: 400px;
  }
}

nav.main {
  padding: 1rem 0;
  a {
    font-size: 20px;
    font-weight: 400;
    color: #cccccc;
    text-decoration: none;

    &:hover {
      color: #ffffff;
    }
  }
}

footer {
    text-align: center;
    position: relative;
    bottom: 0;
    font-size: 12px;
    color: #636363;
    margin: 0 auto;
    max-width: 980px;
}
