
<!DOCTYPE html>
<html lang="en">
  <%= render '/head.*' %>

  <body>
    <%= render '/navbar.*' %>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <h1><%= @item[:tag] %></h1>
          <ul>
            <% items_with_tag(@item[:tag]).each do |i| %>
            <li><%= link_to i[:title], i %></li>
            <% end %>
          </ul>
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
